--navbar-control-layer-color-10: #ffc84d;
--navbar-control-layer-color-20: #ffd473;
--navbar-control-layer-color-40: #ffe099;
--navbar-control-layer-color-60: #ffecbf;
--navbar-control-layer-color-80: #fff7e6;
--navbar-control-layer-color-90: #ffffff;
--navbar-control-bg-color-10: #593e00;
--navbar-control-bg-color-20: #b37c00;
--navbar-control-bg-color-40: #ffb100;
--navbar-control-bg-color-60: #ffbd26;
--navbar-control-bg-color-80: #ffc84d;
--navbar-control-bg-color-90: #ffd473;
